_site
uml
.jekyll-cache
*.render.html
*.do_not_render.html
.Rproj.user
*.render_files
*.do_not_render_files
.RData
.Rhistory
*.generated.zip
*.generated.csv
*.rendered.Rmd
*rendered.html
*.rendered_files