---
layout: page
title: "Publications"

submitted-articles:
    - title: "Solving Decision-Dependent Robust Problems as Bilevel Optimization Problems"
      authors: Martin Schmidt, Simon Stevens, Johannes Thürauf
      year: 2025
      preprints:
        - title: Optimization Online
          link: https://optimization-online.org/?p=29420

    - title: "Computing Counterfactual Explanations for Linear Optimization: A New Class of Bilevel Models and a Tailored Penalty Alternating Direction Method"
      authors: Martin Schmidt
      year: 2024
      preprints:
        - title: Optimization Online
          link: https://optimization-online.org/?p=28803

    - title: "Correction to <i>A Lagrangian dual method for two-stage robust optimization with binary uncertainties</i>"
      authors: Anirudh Subramanyam
      year: 2024
      preprints:
        - title: arXiv
          link: https://arxiv.org/abs/2411.04307

    - title: Exact Augmented Lagrangian Duality for Nonconvex Mixed-Integer Nonlinear Optimization
      authors: Martin Schmidt
      year: 2024
      preprints:
        - title: Optimization Online
          link: https://optimization-online.org/?p=27046

    - title: Using Column Generation in Column-and-Constraint Generation for Adjustable Robust Optimization
      authors: Martin Schmidt, Johannes Thürauf
      year: 2023
      preprints:
        - title: Optimization Online
          link: https://optimization-online.org/?p=24462

    - title: Exact Approaches for Convex Adjustable Robust Optimization
      authors: Enrico Malaguti, Michele Monaci
      year: 2023
      preprints:
        - title: Optimization Online
          link: https://optimization-online.org/?p=20869

journal-articles:

    - title: On Coupling Constraints in Linear Bilevel Optimization
      authors: Dorothee Henke, Martin Schmidt, Johannes Thürauf
      year: 2024
      doi: 10.1007/s11590-024-02156-3
      published:
        - title: Optimization Letters
          details: Online First
      preprints:
        - title: Optimization Online
          link: https://optimization-online.org/?p=25680
        - title: arXiv 
          link: https://arxiv.org/abs/2402.12191

    - title: Adjustable Robust Optimization with Discrete Uncertainty
      authors: Enrico Malaguti, Michele Monaci
      year: 2023
      status: Published
      doi: 10.1287/ijoc.2022.0086 
      published:
        - title: INFORMS Journal on Computing
          details: Volume 36, Issue 1, Pages 1-304, C2
      preprints:
        - title: Optimization Online 
          link: https://optimization-online.org/?p=18343

    - title: Adjustable Robust Optimization with Objective Uncertainty
      authors: Boris Detienne, Enirco Malaguti, Michele Monaci
      year: 2023
      doi: 10.1016/j.ejor.2023.06.042
      published:
        - title: European Journal of Operations Research
          details: Volume 312, Issue 1, Pages 373-384
      preprints:
        - title: Optimization Online
          link: https://optimization-online.org/?p=17567

    - title: A Two-Stage Robust Approach for the Weighted Number of Tardy Jobs with Objective Uncertainty
      authors: François Clautiaux, Boris Detienne, Henri Lefebvre
      year: 2022
      doi: 10.1007/s10951-022-00775-1
      published:
        - title: Journal of Scheduling
          details: Volume 26, Pages 169-191
      preprints:
        - title: HAL science ouverte
          link: https://hal.science/hal-02905849v1

conference-articles:

    - title: Adjustable Robust Optimization with Nonlinear Recourse
      year: 2023
      doi: 10.1007/s10288-023-00557-1
      published: 
        - title: 4OR - A Quarterly Journal of Operations Research
          details: PhD Abstract
      
    - title: Reformulation for a Two-Stage Robust Facility Location Problem
      authors: Enrico Malaguti, Michele Monaci
      year: 2022 
      published:
        - title: 23rd Conference of the French OR society (ROADEF 2022)
      preprints:
        - title: HAL science ouverte
          link: https://univ-angers.hal.science/ROADEF2022/hal-03596230v1

scientific-awards:
    - title: Winner of the EURO Dissertation Award
      year: 2024
      authors: E. Malaguti, M. Monaci, B. Detienne, F. Clautiaux
      link: https://www.euro-online.org/web/pages/1733/edda-winner-2024
      comment: For my PhD thesis "Adjustable Robust Optimization with NonLinear Recourses".
    - title: Winner of the ROADEF Best Master Thesis Award
      year: 2021
      authors: F. Clautiaux, B. Detienne
      link: https://www.roadef.org/roadef-prix-etudiant-master
      comment: For my master thesis "A Two-Stage Robust Approach for Minimizing the Weighted Number of Tardy Jobs with Profit Uncertainty".
    - title: Finalist of the ODS AIROYoung Best Dissertation Award
      year: 2023
      authors: E. Malaguti, M. Monaci, B. Detienne, F. Clautiaux
      link: https://airoyoung.airo.org/2024/02/06/riccardo-giusti-wins-the-ayda-2023/
      comment: For my PhD thesis "Adjustable Robust Optimization with NonLinear Recourses".
    - title: Finalist of the ROADEF Best Student Article
      year: 2022
      authors: E. Malaguti, M. Monaci
      link: https://www.roadef.org/roadef-prix-meilleur-article-etudiant
      comment: For our paper "Reformulation for a Two-Stage Robust Facility Location Problem".

scientific-talks:
    - title: "A Column-and-Constraint Generation Algorithm for Bilevel Optimization with Wait-and-see Follower"
      year: 2025
      authors: J. Thürauf
      type: Conference
      locations:
        - title: International Conference on Continuous Optimization, Los Angeles (USA)
          link: https://sites.google.com/view/iccopt2025/home
    - title: "Advances in Two-Stage Robust Optimization: An Augmented Lagrangian Duality Viewpoint"
      year: 2024
      authors: E. Malaguti, M. Monaci, M. Schmidt, J. Thürauf
      type: Workshop
      locations:
        - title: Combinatorial Optimization under uncertainty through robustness, Paris (France)
          link: http://gdrro.lip6.fr/?q=node/335
    - title: "Exact Augmented Lagrangian Duality for Nonconvex Mixed-Integer Nonlinear Optimization"
      year: 2024
      authors: M. Schmidt
      type: Conference
      locations:
        - title: OR 2024, Munich (Germany)
          link: https://or2024.de/
    - title: "Exact Augmented Lagrangian Duality for Nonconvex Mixed-Integer Nonlinear Optimization"
      year: 2024
      authors: M. Schmidt
      type: Conference 
      locations:
          - title: 25th International Symposium on Mathematical Programming (ISMP), Montréal (Canada)
            link: https://ismp2024.gerad.ca/
    - title: "Adjustable Robust Optimization with Nonlinear Recourses"
      year: 2024
      authors: "E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "33rd European Conference on Operational Research (EURO), Copenhagen (Denmark)"
          link: https://euro2024cPhDk/
        - title: See the EURO Dissertation Award page
          link: https://www.euro-online.org/web/pages/1731/edda-finalists-2024
    - title: "Using Column Generation in Column-and-Constraint Generation for Adjustable Robust Optimization"
      year: 2024
      authors: "M. Schmidt, J. Thürauf"
      type: Workshop
      locations:
        - title: "Optimization at the Second Level Workshop, Marseille (France)"
          link: https://conferences.cirm-math.fr/3031.html
    - title: "A New Algorithm for a Class of NonConvex Bilevel Problems"
      year: 2024
      authors: "M. Schmidt"
      type: Research Seminar
      locations:
        - title: "EDGE Team Seminar, INRIA Bordeaux (France)"
          link: https://edge.gitlabpages.inria.fr/
    - title: "Exact Methods in Adjustable Robust Optimization"
      year: 2024
      authors: "E. Malaguti, M. Monaci, M. Schmidt, J. Thürauf"
      type: Research Seminar
      locations:
        - title: "GROG Team Seminar, Grenoble INP (France)"
          link: https://g-scop.grenoble-inp.fr/fr/recherche/recherche-operationnelle-et-systeme-de-production
    - title: "Exact Methods in Adjustable Robust Optimization"
      year: 2024
      authors: "E. Malaguti, M. Monaci, M. Schmidt, J. Thürauf"
      type: Research Seminar
      locations:
        - title: "INOCS Team Seminar, INRIA Lille (France)"
          link: https://team.inria.fr/inocs/
    - title: "Exact Methods in Adjustable Robust Optimization"
      year: 2024
      authors: "E. Malaguti, M. Monaci, M. Schmidt, J. Thürauf"
      type: Research Seminar
      locations:
        - title: "POLARIS Team Seminar, INRIA Grenoble (France)"
          link: https://team.inria.fr/polaris/
    - title: "Using Column Generation in Column-and-Constraint Generation for Adjustable Robust Optimization"
      year: 2023
      authors: "M. Schmidt, J. Thürauf"
      type: Webinar
      locations:
        - title: "Robust Optimization Webinar - Season 2"
          link: "https://sites.google.com/view/row-series/home"
        - title: "See Webinar Video"
          link: "https://www.youtube.com/watch?v=aMcenv2Jj-0&ab_channel=RobustOptimizationWebinar"
    - title: "Adjustable Robust Optimization with Nonlinear Recourses"
      year: 2023
      authors: "E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "52nd International Conference on Optimization and Decision Science (ODS), Ischia (Italy)"
          link: https://www.airoconference.it/ods2023/
        - title: "See Abstract"
          link: https://www.airoconference.it/ods2023/schedule?view=article&id=19&catid=2:uncategorised&article=116
    - title: "Speeding-up Column-and-Constraint Generation Algorithms With Column Generation"
      year: 2023
      authors: "M. Schmidt, J. Thürauf"
      type: Conference
      locations:
        - title: "OR 2023, Hambourg (Germany)"
          link: https://www.or2023.uni-hamburg.de/
        - title: "See Conference Program"
          link: https://fiona.uni-hamburg.de/27c1a194/program-gor2023.pdf
    - title: "Adjustable Robust Optimization with Discrete Uncertainty"
      year: 2022
      authors: "E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "32nd European Conference on Operational Research (EURO), Espoo (Finland)"
          link: https://euro2022.euro-online.org/index.html
        - title: "See Conference Program"
          link: https://www.euro-online.org/conferences/program/#abstract/2527
    - title: "Reformulation for a Two-Stage Robust Facility Location Problem"
      year: 2022
      authors: "E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "23rd Conference of the French OR society (ROADEF 2022), Lyon (France)"
          link: https://roadef2022.sciencesconf.org/
        - title: "See Abstract"
          link: https://roadef2022.sciencesconf.org/378887
    - title: "A Finite ε-Convergent Algorithm for 0-1 Mixed-Integer Convex Two-Stage Robust Optimization with Objective Uncertainty"
      year: 2021
      authors: "B. Detienne, E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "50th International Conference on Optimization and Decision Science (ODS), Roma (Italy)"
          link: https://www.airoconference.it/ods2021/
    - title: "A Finite ε-Convergent Algorithm for 0-1 Mixed-Integer Convex Two-Stage Robust Optimization with Objective Uncertainty"
      year: 2021
      authors: "B. Detienne, E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "31st European Conference on Operational Research (EURO), virtual"
          link: https://euro2021.euro-online.org/index.html
        - title: "See Abstract"
          link: https://www.euro-online.org/conferences/program/#abstract/1111
    - title: "A Finite ε-Convergent Algorithm for 0-1 Mixed-Integer Convex Two-Stage Robust Optimization with Objective Uncertainty"
      year: 2021
      authors: "B. Detienne, E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "22nd Conference of the French OR society (ROADEF), virtual"
          link: https://roadef2021.sciencesconf.org/
        - title: "See Abstract"
          link: https://roadef2021.sciencesconf.org/351272.html
    - title: "A Two-Stage Robust Approach for Minimizing the Weighted Number of Tardy Jobs with Profit Uncertainty"
      year: 2020
      authors: "B. Detienne, E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "21st Conference of the French OR society (ROADEF), Montpellier (France)"
          link: https://roadef2020.sciencesconf.org/
        - title: "See Abstract"
          link: https://easychair.org/smart-program/ROADEF2020/2020-02-21.html#talk:141540

scientific-posters:
    - title: Reformulation for Adjutable Robust Optimization with Discrete Uncertainty
      year: 2022
      authors: E. Malaguti, M. Monaci
      locations:
        - title: Mixed Integer Programming Workshop 2022, New York (USA)
          link: https://www.mixedinteger.org/2022/
        - title: "See Poster"
          link: open-science/AC/MIP_poster.pdf
---

<h2>Submitted Articles</h2>

{% include grouped_papers.html articles=page.submitted-articles %}

<h2>Published Articles</h2>

<h3>In Peer-Reviewed Journals</h3>

{% include grouped_papers.html articles=page.journal-articles %}

<h3>As Conference Papers or Abstracts</h3>

{% include grouped_papers.html articles=page.conference-articles %}

<h2>Scientific Awards</h2>

{% include grouped_papers.html articles=page.scientific-awards %}

<h2>Scientific Talks</h2>

{% include grouped_papers.html articles=page.scientific-talks %}

<h2>Scientific Posters</h2>

{% include grouped_papers.html articles=page.scientific-posters %}
