---
layout: page
title: "Talks"

scientific-talks:
    - title: "A Column-and-Constraint Generation Algorithm for Bilevel Optimization with Wait-and-see Follower"
      year: 2025
      authors: J. Thürauf
      type: Conference
      locations:
        - title: International Conference on Continuous Optimization, Los Angeles (USA)
          link: https://sites.google.com/view/iccopt2025/home
    - title: "Computing Counterfactual Explanations for Linear Optimization: A New Class of Bilevel Models and a Tailored Penalty Alternating Direction Method"
      year: 2025
      authors: M. Schmidt 
      type: Conference
      locations:
        - title: 34rd European Conference on Operational Research (EURO), Leeds (UK)
          link: https://euro2025leeds.uk/
    - title: "Advances in Two-Stage Robust Optimization: An Augmented Lagrangian Duality Viewpoint"
      year: 2024
      authors: E. Malaguti, M. Monaci, M. Schmidt, J. Thürauf
      type: Workshop
      locations:
        - title: Combinatorial Optimization under uncertainty through robustness, Paris (France)
          link: http://gdrro.lip6.fr/?q=node/335
    - title: "Exact Augmented Lagrangian Duality for Nonconvex Mixed-Integer Nonlinear Optimization"
      year: 2024
      authors: M. Schmidt
      type: Conference
      locations:
        - title: OR 2024, Munich (Germany)
          link: https://or2024.de/
    - title: "Exact Augmented Lagrangian Duality for Nonconvex Mixed-Integer Nonlinear Optimization"
      year: 2024
      authors: M. Schmidt
      type: Conference 
      locations:
          - title: 25th International Symposium on Mathematical Programming (ISMP), Montréal (Canada)
            link: https://ismp2024.gerad.ca/
    - title: "Adjustable Robust Optimization with Nonlinear Recourses"
      year: 2024
      authors: "E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "33rd European Conference on Operational Research (EURO), Copenhagen (Denmark)"
          link: https://euro2024cPhDk/
        - title: See the EURO Dissertation Award page
          link: https://www.euro-online.org/web/pages/1731/edda-finalists-2024
    - title: "Using Column Generation in Column-and-Constraint Generation for Adjustable Robust Optimization"
      year: 2024
      authors: "M. Schmidt, J. Thürauf"
      type: Workshop
      locations:
        - title: "Optimization at the Second Level Workshop, Marseille (France)"
          link: https://conferences.cirm-math.fr/3031.html
    - title: "A New Algorithm for a Class of NonConvex Bilevel Problems"
      year: 2024
      authors: "M. Schmidt"
      type: Research Seminar
      locations:
        - title: "EDGE Team Seminar, INRIA Bordeaux (France)"
          link: https://edge.gitlabpages.inria.fr/
    - title: "Exact Methods in Adjustable Robust Optimization"
      year: 2024
      authors: "E. Malaguti, M. Monaci, M. Schmidt, J. Thürauf"
      type: Research Seminar
      locations:
        - title: "GROG Team Seminar, Grenoble INP (France)"
          link: https://g-scop.grenoble-inp.fr/fr/recherche/recherche-operationnelle-et-systeme-de-production
    - title: "Exact Methods in Adjustable Robust Optimization"
      year: 2024
      authors: "E. Malaguti, M. Monaci, M. Schmidt, J. Thürauf"
      type: Research Seminar
      locations:
        - title: "INOCS Team Seminar, INRIA Lille (France)"
          link: https://team.inria.fr/inocs/
    - title: "Exact Methods in Adjustable Robust Optimization"
      year: 2024
      authors: "E. Malaguti, M. Monaci, M. Schmidt, J. Thürauf"
      type: Research Seminar
      locations:
        - title: "POLARIS Team Seminar, INRIA Grenoble (France)"
          link: https://team.inria.fr/polaris/
    - title: "Using Column Generation in Column-and-Constraint Generation for Adjustable Robust Optimization"
      year: 2023
      authors: "M. Schmidt, J. Thürauf"
      type: Webinar
      locations:
        - title: "Robust Optimization Webinar - Season 2"
          link: "https://sites.google.com/view/row-series/home"
        - title: "See Webinar Video"
          link: "https://www.youtube.com/watch?v=aMcenv2Jj-0&ab_channel=RobustOptimizationWebinar"
    - title: "Adjustable Robust Optimization with Nonlinear Recourses"
      year: 2023
      authors: "E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "52nd International Conference on Optimization and Decision Science (ODS), Ischia (Italy)"
          link: https://www.airoconference.it/ods2023/
        - title: "See Abstract"
          link: https://www.airoconference.it/ods2023/schedule?view=article&id=19&catid=2:uncategorised&article=116
    - title: "Speeding-up Column-and-Constraint Generation Algorithms With Column Generation"
      year: 2023
      authors: "M. Schmidt, J. Thürauf"
      type: Conference
      locations:
        - title: "OR 2023, Hambourg (Germany)"
          link: https://www.or2023.uni-hamburg.de/
        - title: "See Conference Program"
          link: https://fiona.uni-hamburg.de/27c1a194/program-gor2023.pdf
    - title: "Adjustable Robust Optimization with Discrete Uncertainty"
      year: 2022
      authors: "E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "32nd European Conference on Operational Research (EURO), Espoo (Finland)"
          link: https://euro2022.euro-online.org/index.html
        - title: "See Conference Program"
          link: https://www.euro-online.org/conferences/program/#abstract/2527
    - title: "Reformulation for a Two-Stage Robust Facility Location Problem"
      year: 2022
      authors: "E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "23rd Conference of the French OR society (ROADEF 2022), Lyon (France)"
          link: https://roadef2022.sciencesconf.org/
        - title: "See Abstract"
          link: https://roadef2022.sciencesconf.org/378887
    - title: "A Finite ε-Convergent Algorithm for 0-1 Mixed-Integer Convex Two-Stage Robust Optimization with Objective Uncertainty"
      year: 2021
      authors: "B. Detienne, E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "50th International Conference on Optimization and Decision Science (ODS), Roma (Italy)"
          link: https://www.airoconference.it/ods2021/
    - title: "A Finite ε-Convergent Algorithm for 0-1 Mixed-Integer Convex Two-Stage Robust Optimization with Objective Uncertainty"
      year: 2021
      authors: "B. Detienne, E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "31st European Conference on Operational Research (EURO), virtual"
          link: https://euro2021.euro-online.org/index.html
        - title: "See Abstract"
          link: https://www.euro-online.org/conferences/program/#abstract/1111
    - title: "A Finite ε-Convergent Algorithm for 0-1 Mixed-Integer Convex Two-Stage Robust Optimization with Objective Uncertainty"
      year: 2021
      authors: "B. Detienne, E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "22nd Conference of the French OR society (ROADEF), virtual"
          link: https://roadef2021.sciencesconf.org/
        - title: "See Abstract"
          link: https://roadef2021.sciencesconf.org/351272.html
    - title: "A Two-Stage Robust Approach for Minimizing the Weighted Number of Tardy Jobs with Profit Uncertainty"
      year: 2020
      authors: "B. Detienne, E. Malaguti, M. Monaci"
      type: Conference
      locations:
        - title: "21st Conference of the French OR society (ROADEF), Montpellier (France)"
          link: https://roadef2020.sciencesconf.org/
        - title: "See Abstract"
          link: https://easychair.org/smart-program/ROADEF2020/2020-02-21.html#talk:141540

scientific-posters:
    - title: "Mixed-Integer Linear Bilevel Optimization: A New Single-Level Reformulation"
      year: 2025
      authors: M. Schmidt
      locations:
        - title: Mixed Integer Programming European Workshop 2025, Clermont-Ferrand (France)
          link: https://www.mixedinteger.org/EUROMIP/2025/
        - title: "See Poster"
          link: open-science/AM-a-new-single-level-reformulation-for-mixed-integer-bilevel-optimization/a-new-single-level-reformulation-for-mixed-integer-bilevel-optimization-poster.pdf
    - title: Reformulation for Adjutable Robust Optimization with Discrete Uncertainty
      year: 2022
      authors: E. Malaguti, M. Monaci
      locations:
        - title: Mixed Integer Programming Workshop 2022, New York (USA)
          link: https://www.mixedinteger.org/2022/
        - title: "See Poster"
          link: open-science/AC-adjustable-robust-optimization-with-discrete-uncertainty/MIP_poster.pdf
---

<h2>Scientific Talks</h2>

{% include grouped_papers.html articles=page.scientific-talks %}

<h2>Scientific Posters</h2>

{% include grouped_papers.html articles=page.scientific-posters %}
