<!-- {% if counter == nil %} -->
  {% assign counter = 1 %}
<!-- {% endif %} -->

{% assign counter = 1 %}

{% assign years = include.articles | map: "year" | uniq | sort | reverse %}

{% for year in years %}
  <h3>{{ year }}</h3>
  <ol  start="{{ counter }}">
    {% for paper in include.articles %}
      {% if paper.year == year %}
        {% assign counter = counter | plus: 1 %}
        <li>
          <p>
            <div class="paper-list">
              <span style="color:black;font-weight: 400;">
                  <b>{{ paper.title }}</b>
              </span><br />
              {% if paper.authors %}
                Jointly with <span color="black">{{ paper.authors }}</span>.
              {% else %}
                Single author.
              {% endif %}
              <br />
              {% if paper.published %}
                {% for preprint in paper.published %}
                  <a href="{{ preprint.link }}" class="preprint-link" style="background-color: #f0fbff;" target="_blank">{{ preprint.title }}</a> &nbsp;
                {% endfor %}
              {% endif %}
              {% if paper.preprints %}
                {% for preprint in paper.preprints %}
                  <a href="{{ preprint.link }}" class="preprint-link" target="_blank">{{ preprint.title }}</a> &nbsp;
                {% endfor %}
              {% endif %}

              {% if paper.locations %}
                {% for location in paper.locations %}
                  {% if location.link %}
                    <a href="{{ location.link }}" class="preprint-link" target="_blank">{{ location.title }}</a>
                  {% else %}
                    {{ location.title }}.
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if paper.comment %}
                {{ paper.comment }}<br />
              {% endif %}

            </div>
            {% for image in paper.images %}
              <center style="margin-top: 20px;">
                <img src="{{ image.src }}" style="max-width:100%;" /><br />
                {{ image.caption }}
              </center>
            {% endfor %}
          </p>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endfor %}
