<!-- {% if counter == nil %} -->
  {% assign counter = 1 %}
<!-- {% endif %} -->

{% assign counter = 1 %}

{% assign years = include.articles | map: "year" | uniq | sort | reverse %}

{% for year in years %}
  <h3>{{ year }}</h3>
  <ol  start="{{ counter }}">
    {% for paper in include.articles %}
      {% if paper.year == year %}
        {% assign counter = counter | plus: 1 %}
        <li>
          <p>
            <div class="paper-list">
              <span style="color:black;font-weight: 400;">
                {% if paper.open-science-page %}
                  <a href="{{ paper.open-science-page }}">{{ paper.title }}</a>.
                {% else %}
                  {{ paper.title }}
                {% endif %}
              </span><br />
              {% if paper.authors %}
                Jointly with {{ paper.authors }}.
              {% else %}
                Single author.
              {% endif %}
              <br />
              {% if paper.published %}
                In 
                {% for location in paper.published %}
                  {% if location.link %}
                    <a href="{{ location.link }}" target="_blank">{{ location.title }}</a>,
                  {% else %}
                    {{ location.title }},
                  {% endif %}
                  {% if location.details %}
                    {{ location.details }}.
                  {% endif %}
                  {% unless forloop.last %} - {% endunless %}
                {% endfor %}
              {% endif %}

              {% if paper.locations %}
                At 
                {% for location in paper.locations %}
                  {% if location.link %}
                    <a href="{{ location.link }}" target="_blank">{{ location.title }}</a>.
                  {% else %}
                    {{ location.title }}.
                  {% endif %}
                {% endfor %}
              {% endif %}

              
              {% if paper.doi %}
                <a href="http://doi.org/{{ paper.doi }}" style="text-decoration: none;">{{ paper.doi }}</a><br />
              {% endif %}
              <!--
              {% if paper.link %}
                <a href="{{ paper.link }}">External link</a>
              {% endif %}
              {% if paper.preprints %}
                {% for location in paper.preprints %}
                  {% if location.link %}
                    <a href="{{ location.link }}" target="_blank">{{ location.title }}</a>
                  {% else %}
                    {{ location.title }}
                  {% endif %}
                  {% unless forloop.last %} - {% endunless %}
                {% endfor %}
              {% endif %}
              -->

              {% if paper.comment %}
                {{ paper.comment }}<br />
              {% endif %}

            </div>
            {% for image in paper.images %}
              <center style="margin-top: 20px;">
                <img src="{{ image.src }}" style="max-width:100%;" /><br />
                {{ image.caption }}
              </center>
            {% endfor %}
          </p>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endfor %}
