<div id="menu">
    <div id="logo">
        <h1>
            <a href="/index.html">
                <img src="/assets/images/profile-min.png" />
                Henri Lefebvre, PhD
            </a>
        </h1>
        <a href="https://martinschmidt.squarespace.com/team">Trier University (Universität Trier)</a>
    </div>
    <div id="nav">
        <ul>
            <li><a href="/index.html"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="/publications.html"><i class="fa-solid fa-newspaper"></i> Publications</a></li>
            <li><a href="/talks.html"><i class="fa-solid fa-microphone"></i> Talks</a></li>
            <li><a href="/supervision.html"><i class="fa-solid fa-user-graduate"></i> Supervision</a></li>
            <li><a href="/recognition.html"><i class="fa-solid fa-trophy"></i> Recognition</a></li>
            <li><a href="/blog.html"><i class="fa-solid fa-blog"></i> Blog</a></li>
            <li><a href="/idol" target="_blank"><i class="fa-solid fa-code"></i> idol</a></li>
        </ul>
    </div>

    <span id="sponsor">
        <!-- <iframe src="https://github.com/sponsors/hlefebvr/button" title="Sponsor hlefebvr" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe> -->
    </span>
</div>