<div id="menu">
    <div id="logo">
        <h1>
            <a href="/">
                <img src="/assets/images/profile-min.png" />
                Henri Lefebvre, PhD
            </a>
        </h1>
        <a href="https://martinschmidt.squarespace.com/team" target="_blank">Trier University (Universität Trier)</a>
    </div>
    <div id="contact">
        <a href="mailto:lefebvre@uni-trier.de"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://scholar.google.com/citations?user=Vy-DnNMAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar ai-fw"></i></a>
        <a href="https://github.com/hlefebvr" target="_blank"><i class="fa-brands fa-github"></i></i></a>
        <a href="https://orcid.org/0009-0004-2914-9850" target="_blank"><i class="ai ai-orcid ai-fw"></i></a>
    </div>
    <div id="nav">
        <ul class="nav-menu">
            <li>
            <a href="/" class="">
                <i class="fa-solid fa-house"></i>Home
            </a>
            </li>
            <li>
            <a href="/publications.html" class="">
                <i class="fa-solid fa-newspaper"></i>Publications
            </a>
            </li>
            <li>
            <a href="/talks.html" class="">
                <i class="fa-solid fa-microphone"></i>Talks
            </a>
            </li>
            <li>
            <a href="/supervision.html" class="">
                <i class="fa-solid fa-user-graduate"></i>Supervision
            </a>
            </li>
            <li>
            <a href="/recognition.html" class="">
                <i class="fa-solid fa-trophy"></i>Recognition
            </a>
            </li>
            <li>
            <a href="/blog.html" class="">
                <i class="fa-solid fa-blog"></i>Blog
            </a>
            </li>
            <li>
            <a href="/idol" class="">
                <i class="fa-solid fa-code"></i>idol - C++ for optimization
            </a>
            </li>
            <li>
            <a href="/bibtex-generator.html" class="">
                <i class="fa-brands fa-tex"></i>BibTeX Generator
            </a>
            </li>
        </ul>
    </div>

    <span id="sponsor">
        <!-- <iframe src="https://github.com/sponsors/hlefebvr/button" title="Sponsor hlefebvr" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe> -->
    </span>
</div>
