<div id="menu">
    <div id="logo">
        <h1>
            <a href="/index.html">
                <img src="/assets/images/profile-min.png" />
                Henri Lefebvre, PhD
            </a>
        </h1>
        <a href="https://martinschmidt.squarespace.com/team">Trier University (Universität Trier)</a>
    </div>
    <div id="nav">
        <ul>
            <li><a href="/index.html"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="/publications.html">Publications</a></li>
            <li><a href="/talks.html">Talks</a></li>
            <li><a href="/teaching.html">Supervision</a></li>
            <li><a href="/recognition.html">Recognition</a></li>
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="/idol" target="_blank">idol</a></li>
        </ul>
    </div>

    <span id="sponsor">
        <!-- <iframe src="https://github.com/sponsors/hlefebvr/button" title="Sponsor hlefebvr" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe> -->
    </span>
</div>