<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>
      {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/design.css">
    <link rel="stylesheet" href="/public/css/highlight.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    {% if page.uses_plots %}
      <script src="https://unpkg.com/function-plot/dist/function-plot.js"></script>
    {% endif %}
</head>