* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    min-height: 100vh;
}

pre {
    width: 580px;
    overflow-x: auto;
}

#sidebar {
    width: 20%;
    min-width: 350px;
    height: auto;
    min-height: auto;
    background-color: #1f5c88;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#menu {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;

    i {
        margin-right: 5px;
    }

    #logo {
        text-align: center;
        font-family: "Rokkitt", sans-serif;

        h1 {
            img {
                display: block;
                margin: 0 auto;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background-color: white;
                border: 4px solid white;
                box-shadow: 0 0 10px 0 rgba(39, 43, 47, 0.1);
                object-fit: cover;
                margin-bottom: 10px;
                transition: 0.2s ease-in-out;
            }
        }


        h1:hover img {
            transform: scale(1.05);
        }
    }

    a {
        color: white;
        text-decoration: none;
        padding: 5px;
    }
    a:hover {
        text-decoration: underline;
    }

    #contact {
        text-align: center;
        margin: 10px auto;
        padding-top: 10px;
        width:75%;
        border-top: 1px solid #eee;
    }

    #nav {

        a {
            display: block;
        }

        margin-top: 30px;
        padding-left: 30px;
        ul {
            list-style: none;
            padding-left: 0;
        }

        ul li {
            margin-bottom: .3rem;
            width: 10px;
            i {
                width: 20px;
            }
        }
    }
}

#sponsor {
    display: block;
    text-align: center;
    margin-top: auto;
}

#main {
    flex: 1;
    background-color: #eee;
    padding: 1rem;
    height: auto;
    min-height: auto;
}

#content {
    width: 700px;
    margin-top: 1.5%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 60px;
    background-color: white;
    color: #27292B;
    line-height: 1.5;
    box-shadow: 0 0 2px 0 rgba(39, 43, 47, 0.1);

    a {
        color:#27292B;
        transition: color 0.2s ease-in-out;
    }

    a:hover {
        color:#616569;
    }

    p {
        text-align: justify;
        margin-bottom: 10px;
    }

    pre {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

#footer {
    width: 35%;
    min-width: 700px;
    text-align: center;
    margin-top: 1.5%;
    margin-left: 3%;
    color: gray;
    font-size: 0.8rem;
}

.block {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #42b983;
}

#r-content {
    img {
        max-width: 100%;
    }
}

.table-div {
    overflow-x: auto;
    width: 100%;
    max-width: 700px;
}

.category-item {

    min-height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .category-item-image {
        width: 25%;
        text-align: center;
        border: 1px solid gray;
        height: 90px;
           
        img {
            max-width: 100%;
            max-height: 80px;
        }

    }

    .category-item-text {
        padding-left: 20px;
        width: 75%;
    }

}

.theorem, .definition {
    border: 1px solid gray;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.unproved {
    border-left: 1px dashed black;
}
