html, body {
margin: 0;
padding: 0;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
color: black;
}

.primary {
background-color: white;
}

body, .secondary {
background-color:rgba(242, 242, 247, 1);
min-width: 1200px;
}

#header {
border-bottom: 1px solid #efefef;
width: 100%;
-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.05); 
box-shadow: 0px 1px 2px 0px rgba(0,0,0,.05);
background-color: white;
}

#header h1 {
display: inline-block;
margin: 0;
font-size: 1.5em;
font-weight: lighter;
}

#header h1 a {
color: #8B0000;
}

#header ul {
margin: 0;
}

#nav > ul > li {
    display: inline-block;
}

#header li a {
    margin: 0px 15px 0px 15px;
    transition: 250ms;
    padding-bottom: 10px;
}

#nav > ul > li > ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
    padding: 5px;
    background-color: white;
    width: 200px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.05); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.05);
    margin-top: 10px;
}

#nav > ul > li > ul > li {
    padding: 10px;
    list-style: none;
}

#nav > ul > li > ul > li:not(:last-child) {
    border-bottom: 1px solid #efefef;
}

#nav > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
}

a:hover {
    color: #8B0000;
}

a {
    text-decoration: none;
    color: black;
}

.main a, .home-bio a, .projects a {
    text-decoration: none;
    color: #8B0000;
    padding:3px 16px 3px 0px;
    background-image:url('/assets/images/link-45deg.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size:15px;
    line-height:1.5em;
    transition:color 350ms, background-color 350ms;

    &:hover {
        color:#a10000;
        background-color:rgb(255, 220, 226);
    }
}

#nav {
  display: inline-block;
}

.content {
width: 1200px;
margin: auto;
padding: 15px 0px 15px 0px;
color: #2b2b2b;
font-family: 'Lora', 'Times New Roman', Times, serif;
font-size:1.05em;
}

.content-home {
width: 1000px;
margin: auto;
}

.home-vignette {
display: inline-block;
width: 35%;
vertical-align: top;
line-height: 1.5em;
}

.home-vignette img {
width: 200px;
margin-top: 80px;
margin-bottom: 30px;
}

.home-vignette a {
padding: 5px;
color: rgba(0, 0, 0, 0.55);
}

.home-bio {
width: 64%;
display: inline-block;
line-height: 1.5em;
}

.home-bio h2 {
font-size: 2.5em;
font-weight: lighter;
margin-bottom: 0px;
}

.home-bio h3 span:first-child {
border-top: 1px solid #efefef;
}

.home-bio h3 span {
padding-top: 10px;
margin-right: 10px;
font-size: .8em;
font-weight: lighter;
}

.home-bio {
display: inline-block;
}

#footer .content {
font-size: .9em;
text-align: center;
}

p {
line-height: 2em;
text-align: justify;
}

ul li:not(:last-child) { 
margin-bottom: 5px;  
}

.education li {
list-style-image: url("/assets/images/graduate.svg");
}

.education li b {
color: black;
}

.education li:not(:last-child) { 
margin-bottom: 15px;  
}

.main {
padding: 20px;
background-color: white;
border-radius: 5px;
}

.main-methodology {
    background-color: white;
    border-radius: 5px;
    height: 90vh;
}

.main table {
    border-collapse: collapse;
    width: 100%;
}

.main table td {
    padding: 15px;
    border-top: 1px solid #dee2e6;
}

.main table th {
    padding: 15px;
}

.main table .principle {
    width: 250px;
}

.attachment {
    margin: 5px;
    padding: 20px 20px 20px 30px !important;
    border: 1px solid #efefef;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.05); 
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.05);
    background-color: white;
    background-repeat: no-repeat !important;
    background-position-x: 5px !important;
    background-position-y: center !important;
    display: inline-block;
}

.attachment-download {
    background-image: url("/assets/images/paperclip.svg") !important;
}

.attachment-link {
    background-image: url("/assets/images/link-45deg.svg") !important;
}

.category-item {
    border-bottom: 1px solid #efefef;
    padding: 20px;
}

.category-item-date {
    font-size: 0.9em;
    color: gray;
}

#toc {
    display: inline-block;
    vertical-align: top;
    width: 320px;
}

#post-content {
    display: inline-block;
    width: 70%;
    padding-left: 20px;
    border-left: 1px solid #efefef;
}

#sticky-toc {
    width: 300px;
    padding-right: 20px;
    padding-top: 5px;
}

#toc a {
  color:black !important;
  background: none !important;
}

#toc ul {
    padding: 0;
    list-style-type: none;
}

#toc ul a {
    display: block;
    border-bottom: 1px solid #efefef !important;
}

#toc ul li:first-child a {
    border-top: 4px solid #efefef !important;
}

.sticky {
    position: fixed;
    top: 0;
}

.theorem, .definition, .proposition, .notation {
    padding: 20px;
    margin-top: 10px;
    border:1px solid rgb(190, 190, 190);
    border-radius: 3px;
}

.theorem::before {
    content:"Theorem.";
    font-weight: bold;
}

.definition::before {
    content:"Definition.";
    font-weight: bold;
}

.proposition::before {
    content:"Proposition.";
    font-weight: bold;
}

.notation::before {
    content:"Notation.";
    font-weight: bold;
}

.unproved {
    border-left: 2px solid gray;
}

.category-item-image {
    display: inline-block;
    width: 15%;
    text-align: center;
    vertical-align: top;
    padding: 10px;
    margin-right: 20px;
}

.category-item-image img {
    max-width: 100%;
    max-height: 100px;
}

.category-item-text {
    display: inline-block;
    vertical-align: top;
    width: 80%;
}

.category-item-text h2 {
    margin-top: 5px;
}

.main-container {
  max-width: auto;
}

iframe {
    border: 0;
}

.warning {
    background-color: rgb(255, 255, 237); /* rgb(255, 255, 219) */
    border: 1px solid rgb(252, 252, 151);
    font-style: italic;
    padding: 10px;
    border-radius: 4px;
}

.home-window {
    margin:10px;
    background-color: #e7f2fa;
    border-radius:5px;
    border:1px solid #6ab0de;
}

.home-window-title {
    color:white;
    font-weight: bold;
    background-color: #6ab0de;
    padding:5px
}

.home-window-content {
    padding:10px;
}

.home-window-button {
    display: inline-block;
    padding:20px;
    background-color: #0C356A;
    color:white;
    font-size:1.2em;
}

.home-window-button:hover {
    color:#e7f2fa;
}

pre {
    border: 1px solid #e1e4e5;
    padding: 12px;
    background-color: #f8f8f8;
    border-radius: 4px;
}

.table-div {
    overflow-x: auto;
}

summary {
    margin-top: 10px;
}