---
layout: page
---

{{ content }}
{% for node in site.categories[page.category] %}
    {% if node.title != null %}
        <div class="category-item">
            <div class="category-item-image">
                <img src="/assets/images/previews/{{ node.preview }}" />
            </div>
            <div class="category-item-text">
                <h2><a href="{{ node.url }}">{{ node.title }}</a></h2>
                <div class="category-item-date">Last updated: {{ node.date | date_to_string }}</div>
                {{ node.short }}
            </div>
        </div>
    {% endif %}
{% endfor %}
