<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.title == "Home" %}
      <title>{{ site.title }}</title>
    {% else %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    
    <link rel="stylesheet" href="{{ "/assets/css/design.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/copy-button.css" | relative_url }}">
    
    <!-- MATHJAX CONFIG -->
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% include head.html %}
  </head>
  <body>

    <div id="container">

        <div id="sidebar">
          {% include header.html %}
        </div>

        <div id="main">
          <div id="content">
            {{ content }}
          </div>
          <div id="footer">
            {% include footer.html %}
          </div>
        </div>
        
    </div>
    
  </body>
</html>
